// Color system
$primary: #FD542D;
$white: #fff;
$lightGray: #EBF0F3;
$Gray: #7f7d7d;
$darkGray: #39383b;
$darkdarkGray: #2D2D2D;



// Variables
$font-family-base: 'Jost', sans-serif;
$font-family-second: 'Caveat', cursive;
$body-color: $darkdarkGray;
$body-bg: $white;
$font-size-root: 16px;
$trans: .4s ease;


//Components
$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1140px,
        xxl: 1470px
);