<div class="header__top">
    <div class="container-lg">
        <div class="row">
            <div class="header__subtitle col-md-2">
                <p>Доставка американских <br>самокатов по всей России</p>
            </div>
            <div class="header__phone col-md-2">
                <a href="tel:+74955183699">+7 (495) 518 36 99</a>
                <span>Прием заказов с 09:00 до 21:00</span>
            </div>
            <div class="logo-wrap col-md-4">
                <a href="#" class="logo">
                    <img src="img/logo.png" alt="logo Razor">
                    <div class="logo__sub">Официальный дистрибьютор</div>
                </a>
            </div>
            <div class="header__loc col-md-2">
<!--                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">-->
<!--                    <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"/>-->
<!--                    <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>-->
<!--                </svg>-->
                <span>Санкт-Петербург</span>
            </div>
            <div class="header__search col-md-2">
                <form action="" class="form">
                    <input type="search"class="form__search" placeholder="Поиск">
                </form>
            </div>
        </div>
    </div>
</div>
<div class="header__bottom"></div>